<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Character_B_04_attackS_shadow_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{178,112}}</string>
                <key>offset</key>
                <string>{-9,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,114},{178,112}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,116},{172,112}}</string>
                <key>offset</key>
                <string>{-11,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,114},{172,112}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{144,134}}</string>
                <key>offset</key>
                <string>{6,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,92},{144,134}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,254},{132,158}}</string>
                <key>offset</key>
                <string>{18,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,68},{132,158}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,596},{140,156}}</string>
                <key>offset</key>
                <string>{16,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,70},{140,156}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,604},{150,144}}</string>
                <key>offset</key>
                <string>{18,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,83},{150,144}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1092},{140,106}}</string>
                <key>offset</key>
                <string>{-26,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,121},{140,106}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,888},{138,104}}</string>
                <key>offset</key>
                <string>{-28,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,122},{138,104}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1170},{142,106}}</string>
                <key>offset</key>
                <string>{-27,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,120},{142,106}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,246},{160,110}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,117},{160,110}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,388},{154,116}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,112},{154,116}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,486},{158,116}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,112},{158,116}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{126,160}}</string>
                <key>offset</key>
                <string>{9,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,68},{126,160}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{92,168}}</string>
                <key>offset</key>
                <string>{18,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,60},{92,168}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,604},{112,152}}</string>
                <key>offset</key>
                <string>{28,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,77},{112,152}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1028},{110,124}}</string>
                <key>offset</key>
                <string>{28,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,104},{110,124}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1012},{140,112}}</string>
                <key>offset</key>
                <string>{-7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,116},{140,112}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1284},{134,112}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,116},{134,112}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,772},{146,114}}</string>
                <key>offset</key>
                <string>{-11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,114},{146,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{146,114}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,114},{146,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1308},{138,106}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,121},{138,106}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{136,130}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,98},{136,130}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{138,168}}</string>
                <key>offset</key>
                <string>{18,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,60},{138,168}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,358},{128,158}}</string>
                <key>offset</key>
                <string>{24,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,69},{128,158}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1200},{114,134}}</string>
                <key>offset</key>
                <string>{26,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,92},{114,134}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1626},{104,114}}</string>
                <key>offset</key>
                <string>{21,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,112},{104,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,832},{148,108}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,117},{148,108}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,942},{146,106}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,118},{146,106}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,840},{148,106}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,118},{148,106}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attackS_shadow_03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1278},{138,108}}</string>
                <key>offset</key>
                <string>{12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,119},{138,108}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,718},{150,112}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,114},{150,112}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,350},{164,114}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,118},{164,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,364},{158,120}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,120},{158,120}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1388},{134,108}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,118},{134,108}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1140},{134,114}}</string>
                <key>offset</key>
                <string>{17,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,112},{134,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,738},{124,150}}</string>
                <key>offset</key>
                <string>{24,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,77},{124,150}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1204},{142,102}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,125},{142,102}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,712},{150,126}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,129},{150,126}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,506},{152,132}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,125},{152,132}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,640},{148,130}}</string>
                <key>offset</key>
                <string>{17,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,123},{148,130}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{150,120}}</string>
                <key>offset</key>
                <string>{13,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,120},{150,120}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,864},{146,118}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,113},{146,118}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{174,116}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,112},{174,116}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,116}}</string>
                <key>offset</key>
                <string>{-10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,112},{180,116}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,594},{158,116}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,112},{158,116}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1586},{122,116}}</string>
                <key>offset</key>
                <string>{17,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,112},{122,116}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{132,140}}</string>
                <key>offset</key>
                <string>{23,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,89},{132,140}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{146,128}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,106},{146,128}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{164,122}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,121},{164,122}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{168,126}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,118},{168,126}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,120},{168,122}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,115},{168,122}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,244},{164,114}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,116},{164,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_03_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1352},{118,106}}</string>
                <key>offset</key>
                <string>{22,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,121},{118,106}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1088},{142,114}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,113},{142,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,246},{162,116}}</string>
                <key>offset</key>
                <string>{-10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,111},{162,116}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,130},{164,114}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,113},{164,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,888},{144,122}}</string>
                <key>offset</key>
                <string>{11,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,105},{144,122}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,466},{160,128}}</string>
                <key>offset</key>
                <string>{11,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,98},{160,128}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1050},{128,142}}</string>
                <key>offset</key>
                <string>{8,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,85},{128,142}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,126},{164,118}}</string>
                <key>offset</key>
                <string>{-18,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,117},{164,118}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,230},{168,118}}</string>
                <key>offset</key>
                <string>{-21,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,116},{168,118}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{162,118}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,116},{162,118}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_attack_shadow_03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,132},{146,120}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,114},{146,120}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,948},{146,104}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,112},{146,104}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{156,106}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,112},{156,106}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,360},{162,114}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,107},{162,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,476},{158,116}}</string>
                <key>offset</key>
                <string>{-4,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,102},{158,116}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{156,122}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,107},{156,122}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,488},{154,114}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,113},{154,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,984},{146,102}}</string>
                <key>offset</key>
                <string>{7,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,113},{146,102}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1180},{140,102}}</string>
                <key>offset</key>
                <string>{9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,111},{140,102}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1506},{116,108}}</string>
                <key>offset</key>
                <string>{13,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,111},{116,108}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1316},{128,110}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,113},{128,110}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,978},{144,112}}</string>
                <key>offset</key>
                <string>{-3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,109},{144,112}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,750},{148,114}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,106},{148,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1054},{142,114}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,110},{142,114}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{132,110}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,114},{132,110}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1428},{116,112}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,111},{116,112}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1256},{122,104}}</string>
                <key>offset</key>
                <string>{12,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,109},{122,104}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1416},{134,102}}</string>
                <key>offset</key>
                <string>{10,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,116},{134,102}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1498},{124,106}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,118},{124,106}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1606},{116,106}}</string>
                <key>offset</key>
                <string>{20,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,112},{116,106}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1238},{128,112}}</string>
                <key>offset</key>
                <string>{14,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,104},{128,112}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1520},{124,104}}</string>
                <key>offset</key>
                <string>{15,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,113},{124,104}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1398},{126,106}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,118},{126,106}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1126},{136,110}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,118},{136,110}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>Character_B_04_move_shadow_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,866},{146,110}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,115},{146,110}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Character_B_040.png</string>
            <key>size</key>
            <string>{1024,1732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1931b6c522047611581afc30dc0df933$</string>
            <key>textureFileName</key>
            <string>Character_B_040.png</string>
        </dict>
    </dict>
</plist>
